html, body {
    width: 100%;
    height: 100%;
}
html, body, div, span, p, h1, h2, h3, h4, h5, strong, h6, i, b, a, table, thead, tbody, th, tr, td, ul, li,input, button, select{
    padding: 0;
    margin: 0;
    font-family: 'PingFang SC', '微软雅黑';
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
input, button, select {
    outline: none;
    border: none;
}
ul, li {
    list-style: none;
}
a{
    text-decoration: none;
}
.overflow_h{
    overflow: hidden;
}
.clear_both {
    clear: both;
}
.float_l {
    float: left;
}
.float_r {
    float: right;
}
.anonymous_box{
    width: 100%;
    height: 80px;
    background: #ADADAD;
    position: absolute;
    top: 0 ;
    left: 0;
    display: none;
}
.anonymous_box p{
    text-align: center;
}
.anonymous_title{
    height: 32px;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
    padding: 14px 0 4px 0;
}
.anonymous_subtitle{
    height: 17px;
    font-weight: 400;
    line-height: 17px;
    cursor: pointer;
}
.app_box{
    position: relative;
    min-height: 100%;
}
.app_header_box{
    width: 100%;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.0800);
}
.app_header_title{
    float: left;
    height: 56px;
    line-height: 56px;
    margin-left: 77px;
    font-size: 22px;
    font-weight: bold;
    color: #1DBFA2;
}
.app_header_right{
    margin-right: 72px;
}
.ood_status{
    width: 32px;
    height: 32px;
    margin: 12px 0;
}
.people_head_sculpture{
    width: 32px;
    height: 32px;
    margin: 12px 12px 12px 20px;
    border-radius: 50%;
    cursor: pointer;
}
.people_name{
    display: block;
    float: right;
    height: 56px;
    font-weight: 400;
    line-height: 56px;
}
.app_content_box{
    width: 1200px;
    margin: 0 auto;
    margin-top: 74px;
    padding-bottom: 260px;
}
.app_title_box{
    width: 100%;
    height: 29px;
    padding: 4px 0;
    background: #FFFFFF;
    box-shadow: 0px 8px 10px 1px rgba(0,0,0,0.08);
}
.app_content_title{
    height: 29px;
    font-size: 22px;
    font-weight: 400;
    color: #1DBFA2;
    line-height: 29px;
    padding-left: 10px;
    border-left: 4px solid #34C5AB;;
    float: left;
}
.app_content_title_href{
    float: right;
    height: 29px;
    line-height: 29px;
    padding-right: 37px;
}
.app_subtitle_box{
    margin-top: 15px;
    overflow: hidden;
}
.app_primary_btn{
    font-weight: 400;
    color: #FFFFFF;
    background: #0AD7B6;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    line-height: 1;
}
.app_disable_btn{
    font-weight: 400;
    color: #FFFFFF;
    background: #D5D5D5;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    line-height: 1;
}
.app_plain_btn{
    line-height: 1;
    font-size: 12px;
    font-weight: 400;
    color: #0AD7B6;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #0AD7B6;
    background: none;
    cursor: pointer;
}
.app_footer_box{
    width: 100%;
    height: 172px;
    background: #0AD7B6;
    position: absolute;
    bottom: 0;
    left: 0;
}
.app_footer_content_box{
    width: 1200px;
    margin: 0 auto;
}
.app_footer_content_box p a, .app_footer_content_box p{
    height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 20px;
}
.app_footer_box_l p:nth-child(1){
    height: 20px;
    padding: 58px 0 17px 0;
}
.app_footer_box_r{
    height: 32px;
    line-height: 32px;
    padding-top: 89px;
}
.app_footer_box_r i{
    float: right;
    display: block;
    width: 32px;
    height: 32px;
}
.app_footer_discard_i{
    background: url(../img/app/app_footer_discard_i.svg) no-repeat center center;
}
.app_footer_cyfs_i{
    background: url(../img/app/app_footer_cyfs_i.svg) no-repeat center center;
    margin: 0px 4px 0 17px;
}
.app_footer_box_r p{
    height: 32px;
    line-height: 32px;
}
.app_cover_box{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(51, 51, 51, 0.4);
    display: none;
}
.upload_app_info_id_copy{
    display: block;
    float: left;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: url(../img/app/upload_app_info_id_copy.svg) no-repeat center center;
}
.app_table{
    border: 1px solid #DADCE0;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    text-align: center;
}
.app_table thead td{
    height: 46px;
}
.app_table tbody td{
    height: 46px;
    border-top: 1px solid #DADCE0;
    line-height: 46px;
}
.app_vicebox_title{
    height: 29px;
    font-size: 22px;
    color: #202124;
    line-height: 28px;
    padding: 39px 0 16px 0;
}
.open_install_app_btn{
    width: 140px;
    height: 24px;
}
.close_cover_i{
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 11px;
    right: 20px;
    background: url(../img/app/app_cover_close_i.svg) no-repeat center center;
    cursor: pointer;
}
/* switch css */
.switch_label .switch_i {
    width: 28px;
    height: 16px;
    position: relative;
    border: 1px solid #BAC7CD;
    background-color: #fff;
    /* box-shadow: #dfdfdf 0 0 0 0 inset; */
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}
/* block css */
.switch_label .switch_i:before {
    content: '';
    width: 12px;
    height: 12px;
    position: absolute;
    top: 2px;
    background-color: #BAC7CD;
    left: 1px;
    border-radius: 20px;
    border-radius: 50%;
    /* box-shadow: 0 1px 3px rgba(0,0,0,0.4); */
}
/* block moving distance to the right */
.switch_label input:checked + .switch_i:before {
    left:15px;
    background-color: #0AD7B6;
}
/* hide checkbox */
.switch_label input {
    position:absolute;
    opacity:0;
    visibility:hidden;
}
/* block moving transition to the right */
.switch_label.switch_animbg .switch_i:before {
    -webkit-transition:left 0.3s;
    transition:left 0.3s;
}
/* block moving color to the right */
.switch_label.switch_animbg input:checked + .switch_i {
    /* box-shadow:#dfdfdf 0 0 0 0 inset; */
    /* background-color:#64bd63; */
    border: 1px solid #0AD7B6;
    -webkit-transition:border-color 0.4s,background-color ease 0.4s;
    transition:border-color 0.4s,background-color ease 0.4s;
}
.switch_label.switch_animbg input:disabled + .switch_i{
    border: 1px solid #BAC7CD;
}
.switch_label input:disabled + .switch_i:before {
    background-color: #BAC7CD;
}